<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>replit</title>
    <link href="css/style.css" rel="stylesheet" type="text/css" />
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300;1,400;1,500&display=swap"
        rel="stylesheet">
    <script src="https://kit.fontawesome.com/8e81720d44.js" crossorigin="anonymous"></script>

</head>

<body>
    <header>
        <div class="filaUnoHeader">
            <a href="/"><img src="img/logo-mercado-liebre.svg" class="logo"></a>
            <form class="buscador">
                <input type="text" placeholder="Buscar productos, marcas">
                <i class="fa-solid fa-magnifying-glass emojis2"></i>
            </form>
            <p class="compraEnCuotas">
                <i class="fa-solid fa-hand-holding-dollar"></i>
                Comprá en cuotas y sin tarjeta de crédito
            </p>
        </div>

        <nav>
            <ul class="lista1">
                <li> <a href="#">Ofertas</a></li>
                <li> <a href="#">Tiendas Oficiales</a></li>
                <li> <a href="#">Vender</a></li>
                <li> <a href="#">Ayuda</a></li>
            </ul>
            <ul class="lista2">
                <li> <a href="/register">Creá tu cuenta <i class="fa-solid fa-id-card"></i></a></li>
                <li> <a href="/login">Ingresá <i class="fa-solid fa-right-to-bracket"></i></a></li>
                <li> <a href="#">Mis compras <i class="fa-solid fa-basket-shopping"></i></a></li>
            </ul>
        </nav>
        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>
    </header>

    <img src="img/img-home-banner.jpg" alt="Banner Home" class="banner">

    <main>
        <section>
            <p class="titulares">Basado en tu última visita</p>
            <div class="section1">
                <article>
                    <img src="img/img-cafetera-moulinex.jpg">
                    <div class="descripcionArticulo">
                        <i class="fa-solid fa-truck"></i>
                        <p class="precios">$6.770</p>
                        <p class="descuentos">40% OFF</p>
                        <h4 class="descripciones">Cafetera Moulinex</h4>
                    </div>
                </article>

                <article>
                    <img src="img/img-macbook-pro-2019.jpg">
                    <div class="descripcionArticulo">
                        <i class="fa-solid fa-truck "></i>
                        <p class="precios">$230.000</p>
                        <p class="descuentos">20% off</p>
                        <h4 class="descripciones">MacBook Pro 2019</h4>
                    </div>
                </article>

                <article>
                    <img src="img/img-samsung-galaxy-s10.jpg">
                    <div class="descripcionArticulo">
                        <i class="fa-solid fa-truck"></i>
                        <p class="precios">$70.500</p>
                        <p class="descuentos">10% off</p>
                        <h4 class="descripciones">Samsung Galaxy S10</h4>
                    </div>
                </article>

                <article>
                    <img src="img/img-tv-samsung-smart.jpg">
                    <div class="descripcionArticulo">
                        <i class="fa-solid fa-truck"></i>
                        <p class="precios">$23.200</p>
                        <p class="descuentos">5% off</p>
                        <h4 class="descripciones">SmartTv Samsung 43"</h4>
                    </div>
                </article>
            </div>
        </section>

        <section>
            <p class="titulares">Ofertas</p>
            <div class="section2">
                <article>
                    <img src="img/img-cafetera-moulinex.jpg">
                    <div class="descripcionArticulo">
                        <i class="fa-solid fa-truck"></i>
                        <p class="precios">$6.770</p>
                        <p class="descuentos">40% OFF</p>
                        <h4 class="descripciones">Cafetera Moulinex</h4>
                    </div>
                </article>

                <article>
                    <img src="img/img-macbook-pro-2019.jpg">
                    <div class="descripcionArticulo">
                        <i class="fa-solid fa-truck"></i>
                        <p class="precios">$230.000</p>
                        <p class="descuentos">20% off</p>
                        <h4 class="descripciones">MacBook Pro 2019</h4>
                    </div>
                </article>

                <article>
                    <img src="img/img-samsung-galaxy-s10.jpg">
                    <div class="descripcionArticulo">
                        <i class="fa-solid fa-truck"></i>
                        <p class="precios">$70.500</p>
                        <p class="descuentos">10% off</p>
                        <h4 class="descripciones">Samsung Galaxy S10</h4>
                    </div>
                </article>

                <article>
                    <img src="img/img-tv-samsung-smart.jpg">
                    <div class="descripcionArticulo">
                        <i class="fa-solid fa-truck"></i>
                        <p class="precios">$23.200</p>
                        <p class="descuentos">5% off</p>
                        <h4 class="descripciones">SmartTv Samsung 43"</h4>
                    </div>
                </article>
            </div>
        </section>
    </main>

    <footer>
        <div class="footerDescripciones">
            <section>
                <i class="fa-solid fa-credit-card"></i>
                <p class="subtituloFooter">Pagá con tarjeta o en efectivo</p>
                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y
                    siempre es
                    seguro!</p>
            </section>
            <section>
                <i class="fa-solid fa-gift"></i>
                <p class="subtituloFooter">Envío gratis desde $ 2.500</p>
                <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un
                    beneficio de
                    Mercado Puntos.</p>
            </section>
            <section>
                <i class="fa-solid fa-user-shield"></i>
                <p class="subtituloFooter">Seguridad, de principio a fin</p>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre
                    protegid@.</p>
            </section>
        </div>
        <section>
            <p class="copyrigth">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
        </section>
    </footer>

    <script src="script.js"></script>
</body>

</html>